################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/sm3MFC/.vs/sm3MFC/v16
/sm3MFC/sm3MFC/Debug
/sm3MFC/sm3MFC/x64/Release
/sm3MFC/x64/Release
